<!DOCTYPE html>
<html>
    <head>
        <title>
            Prueba Eiya
        </title>
    </head>
    <body>
        <table border=1>
            <thead>
                <tr>
                    <th>
                        vehicle id
                    </th>
                    <th>
                        location
                    </th>
                    <th>
                        fuel km/lt
                    </th>
                    <th>
                        distance
                    </th>
                    <th>
                        fuel consumtion
                    </th>
                </tr>
            </thead>
            <tbody>
                {{vehicles_list}}
                {% for vehicle in vehicles_list %}
                <tr>
                    <td>
                        {{vehicle.id}}
                    </td>
                    <td>
                        city {{vehicle.location}}
                    </td>
                    <td>
                        {{vehicle.fuel_km}}
                    </td>
                    <td>
                        {{vehicle.distance}}
                    </td>
                    <td>
                        {{vehicle.fuel_consume}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </body>
</html>